{% extends 'base.html' %}
{% block title %}
    Reviewer Requests
{% endblock %}

{% block content %}
<div class="container-fluid py-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card shadow">
                <div class="card-body" style="background-color: rgb(161, 217, 240)">
                    <h1 class="card-title text-black mb-4">Admin Reviewer Requests</h1>
                    {% if reviewer_requests %}
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">S.No.</th>
                                    <th scope="col">Full Name</th>
                                    <th scope="col">Birth Year</th>
                                    <th scope="col">Email Address</th>
                                    <th scope="col">Professional URLs</th>
                                    <th scope="col">Recent Education</th>
                                    <th scope="col">Duration</th>
                                    <th scope="col">Institute Name</th>
                                    <th scope="col">Department</th>
                                    <th scope="col">Current Position</th>
                                    <th scope="col">Current Company</th>
                                    <th scope="col">Current Duration</th>
                                    <th scope="col">Area of Interests</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for reviewer_request in reviewer_requests %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ reviewer_request.full_name }}</td>
                                    <td>{{ reviewer_request.year_of_birth }}</td>
                                    <td>{{ reviewer_request.email_address }}</td>
                                    <td>
                                        {% if reviewer_request.homepage_url %}
                                        <a href="{{ reviewer_request.homepage_url }}" target="_blank">{{ reviewer_request.homepage_url }}</a><br>
                                        {% endif %}
                                        {% if reviewer_request.google_scholar_url %}
                                        <a href="{{ reviewer_request.google_scholar_url }}" target="_blank">{{ reviewer_request.google_scholar_url }}</a><br>
                                        {% endif %}
                                        {% if reviewer_request.orcid_url %}
                                        <a href="{{ reviewer_request.orcid_url }}" target="_blank">{{ reviewer_request.orcid_url }}</a>
                                        {% endif %}
                                    </td>
                                    <td>{{ reviewer_request.education_position }}</td>
                                    <td>{{ reviewer_request.education_start_year }} - {{ reviewer_request.education_end_year}}</td>
                                    <td>{{ reviewer_request.inst_name }}</td>
                                    <td>{{ reviewer_request.inst_department }}</td>
                                    <td>{{ reviewer_request.current_position }}</td>
                                    <td>{{ reviewer_request.current_company }}</td>
                                    <td>{{ reviewer_request.current_start_year }} - {{ reviewer_request.current_end_year}}</td>
                                    <td>{{ reviewer_request.area_of_interest }}</td>
                                    <td>
                                        <a class="btn btn-success btn-sm" href="{{ url_for('approve_reviewer_request', request_id=reviewer_request.id)}}">Approve</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% else %}
                    <p class="text-center" style="font-size: 1.2rem;">No pending event requests.</p>

                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
