{% extends 'base.html' %}
{% block title %}
    Admin Page
{% endblock %}
{% block content %}
<style>
    .card-image {
    padding: 20px;
    display: block;
    margin: 0;
    }     
</style>
<body>
    <div class="position-relative overflow-hidden p-5 p-md-7 m-md-3 text-center bg-dark">
        <div class="col-md-5 p-lg-1 mx-auto my-1">
            <h1 class="display-4 font-weight-normal">Congratulations!</h1>
            <p class="lead font-weight-normal">You are now logged in as admin.</p> 
        </div>

        <div class="product-device box-shadow d-none d-md-block"></div>
        <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
    </div>
</body>
{% endblock %}