{% extends 'base.html' %}
{% block title %}
    Event Requests
{% endblock %}

{% block content %}
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3" style="background-color:rgb(16, 98, 112); color:white">
        <div class="mx-auto my-5">
            <h1 class="mb-4 font-weight-normal">Admin Event Requests</h1>

            {% if event_requests %}
                <table class="table table-striped table-borderless table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>S.No.</th>
                            <th>Category</th>
                            <th>Title</th>
                            <th>Acronym</th>
                            <th>Web Page</th>
                            <th>Venue</th>
                            <th>City</th>
                            <th>Country</th>
                            <th>First Day</th>
                            <th>Last Day</th>
                            <th>Primary Area</th>
                            <th>Secondary Area</th>
                            <th>Area Notes</th>
                            <th>Organizer Name</th>
                            <th>Organizer Web Page</th>
                            <th>Phone No.</th>
                            <th>Ohter info</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for event_request in event_requests %}
                            <tr class="table-info">
                                <td>{{ loop.index }}</td>
                                <td>{{ event_request.category }}</td>
                                <td>{{ event_request.title }}</td>
                                <td>{{ event_request.acronym }}</td>
                                <td>{{ event_request.web_page_url }}</td>
                                <td>{{ event_request.venue }}</td>
                                <td>{{ event_request.city }}</td>
                                <td>{{ event_request.country }}</td>
                                <td>{{ event_request.first_day }}</td>
                                <td>{{ event_request.last_day }}</td>
                                <td>{{ event_request.primary_area }}</td>
                                <td>{{ event_request.secondary_area }}</td>
                                <td>{{ event_request.area_notes }}</td>
                                <td>{{ event_request.organizer_name }}</td>
                                <td>{{ event_request.organizer_web_page }}</td>
                                <td>{{ event_request.phone_no }}</td>
                                <td>{{ event_request.other_info}}</td>
                                <td>
                                    <a class="btn btn-success mb-1" href="{{ url_for('approve_event_request', request_id=event_request.id)}}">Approve</a>
                                    <a class="btn btn-danger" href="{{ url_for('reject_event_request', request_id=event_request.id)}}">Reject</a>
                                </td>
                            </tr>
                            {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No pending event requests.</p>
            {% endif %}

        </div>
        <div class="product-device box-shadow d-none d-md-block"></div>
        <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
    </div>
{% endblock %}