{% extends 'base.html' %}
{% block title %}
    Admin Page
{% endblock %}

{% block content %}
<body>  
    <style>
        .zoom-btn:hover {
            transition: transform 0.3s ease-in-out;
            transform: scale(1.1);
        }
    </style>

    <div class="position-relative overflow-hidden p-5 p-md-7 m-md-3 text-center" style="background-color:rgb(16, 98, 112); color:white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <h1 class="display-4 font-weight-normal mb-4">Congratulations!</h1>
                    <p class="lead font-weight-normal mb-5">You are now logged in as admin.</p>
                    <form method="POST" class="form-signin" style="color:white">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            {{ form.number.label(class="sr-only") }}
                            {{ form.number(class="form-control", placeholder="Enter number of links", required=True) }}
                        </div>
                        {{ form.submit(class="btn btn-lg btn-primary btn-block mt-4 zoom-btn") }}
                    </form>
                </div>
            </div>
        </div>
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6 mb-4">
                    <h2 class="mb-3">Event Requests</h2>
                    <a class="btn btn-lg btn-primary d-block " href="{{ url_for('admin_event_requests') }}">Go to event requests</a>
                </div>
                <div class="col-md-6 mb-4">
                    <h2 class="mb-3">Reviewers Requests</h2>
                    <a class="btn btn-lg btn-primary d-block    " href="{{ url_for('admin_reviewer_requests') }}">Go to reviewers requests</a>
                </div>
            </div>
        </div>
        <div class="product-device box-shadow d-none d-md-block"></div>
        <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
    </div>
</body>
{% endblock %}
