{% extends 'base.html' %}
{% block title %}
    Dropbox Sign Hackathon
{% endblock %}

{% block content %}
<body>

    <div class="position-relative overflow-hidden p-5 p-md-7 m-md-3 text-left" style="background-color:rgb(16, 98, 112); color:white">

        {% if event %}

            <h1 class="display-4 font-weight-normal">{{ event.title }}</h1>
            <br>
            <h4>{{ event.acronym }}</h4>
            <br>
            <h5>
            <span class="mr-4">Deadline:{{ event.last_day.strftime('%d/%m/%Y') }}</span>
            <span class="mr-4"><a href="{{ event.web_page_url }}" class="text-decoration-none text-light">{{ event.web_page_url }}</a></span>
            <span>{{ event.venue }},{{ event.city }}</span>
            </h5>
            <br>
            <p>{{ event.other_info }}</p>
            <br><br><br>
            <form method="POST" enctype='multipart/form-data'>
                {{ form.hidden_tag() }}  
                {{ form.file() }}
                {{ form.submit() }}
            </form>
        {% else %}
            <p>No detials! This event is ended.</p>
        {% endif %}
    </div>

</body>


{% endblock %}