{% extends 'base.html' %}
{% block title %}
    Dropbox Sign Hackathon
{% endblock %}

{% block content %}
<body>

    <div class="position-relative overflow-hidden p-5 p-md-7 m-md-3 text-left" style="background-color:rgb(16, 98, 112); color:white">
        <h1 class="display-4 font-weight-normal">Dropbox Sign AI-Powered Agreements Hackathon</h1>
        <br>
        <h4>Code the Future of eSignatures with Dropbox Sign and AI</h4>
        <br><br><br>
        <form method="POST" enctype='multipart/form-data'>
            {{ form.hidden_tag() }}  
            {{ form.file() }}
            {{ form.submit() }}
        </form>  
    </div>

</body>


{% endblock %}