{% extends 'base.html' %}
{% block title %}
    Login Page
{% endblock %}

{%block content %}
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-signin" style="color:white">
            {{ form.hidden_tag() }}
            <br><br>
            <img class="mb-4 rounded-circle" src="https://www.pngkey.com/png/detail/979-9799359_sign-up-research-paper-icon-png.png" width="200" height="200" alt="">
            <h1 class="h3 nb-3 font-weight-normal">
                Please Login
            </h1>
            <br>
            {{ form.username.label() }}
            {{ form.username(class="form-control", placeholder="User Name") }}

            {{ form.password.label() }}
            {{ form.password(class="form-control", placeholder="Password") }}

            <br>

            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

            <br>

            <a href="{{ url_for('google_login') }}" class="btn btn-primary">Sign Up with Google</a>

            <br><br>

            <div class="checkbox nb-3">
                <h6>Do not have an account?</h6>
                <a class="btn btn-sm btn-secondary" href="{{ url_for('register_page') }}" >Register</a>
            </div>

        </form>
    </div>
</body>
{%endblock %}