{% extends 'base.html' %}
{% block title %}
    Organizer Logged In
{% endblock %}
{% block content %}
<body>
    <div id="flash-message" class="alert alert-info" style="display:none"></div>

    <div class="position-relative overflow-hidden p-5 p-md-7 m-md-3 text-center row" style="background-color:rgb(16, 98, 112); color:white">
        <div class="col-md-10">
            <br>
            <h3 class="text-left">Your Events - </h3>
            <br><br>

            <div class="card text-left" style="color:black">
                {% if organizer_events %}
                    {% for event in organizer_events %}
                    
                        <div class="row">                           <!--A unique row consists of both the columns-->
                            <div class="col-md-10">                  <!--Column for the card content-->
                                <div class="card-body">
                                    <h2 class="card-title">{{ event.title }}</h2>
                                    <a href="{{ event.web_page_url }}" class="card-text">{{ event.web_page_url }}</a>
                                    <br>
                                    <p class="card-text">Deadline: {{ event.last_day.strftime('%d/%m/%Y') }}</p>
                                    <a href="#" class="btn btn-primary">Track Event</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <h5>You have not created any event yet.</h5>
                {% endif %}    
            </div>
        </div>

        <div class="col-md-2">
            <div class="event-details text-left">
                <h3>Create a new event:</h3>
                <a class="btn btn-lg btn-primary mt-3" href="{{ url_for('submit_event_request') }}">Create New</a>
            </div>        
        </div>
    
        <div class="product-device box-shadow d-none d-md-block"></div>
        <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
    </div>


    <script>
        var role = "{{ role }}";
        console.log(role);
    </script>
    
</body>
{% endblock %}