{% extends 'base.html' %}
{% block title %}
    Organizer Logged In
{% endblock %}
{% block content %}
<body>
    <div id="flash-message" class="alert alert-info" style="display:none"></div>

    <div class="position-relative overflow-hidden p-5 p-md-7 m-md-3 text-center" style="background-color:rgb(16, 98, 112); color:white">
        <div class="col-md-5 p-lg-1 mx-auto my-1">
            <h1 class="display-4 font-weight-normal">Congratulations!</h1>
            <p class="lead font-weight-normal">You are Successfully logged in.</p> 
        </div>

        <div class="product-device box-shadow d-none d-md-block"></div>
        <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
    </div>

    <div class="event-details">
        <h4>Create a new event:</h4>
        <a class="btn btn-sm btn-primary mt-3" href="{{ url_for('event_details_form') }}">Create New</a>
    </div>

    <script>
        var role = "{{ role }}";
        console.log(role);
    </script>
    
</body>
{% endblock %}