{% extends 'base.html' %}
{% block title %}
    Organizer Logged In
{% endblock %}
{% block content %}
<body>
    <div id="flash-message" class="alert alert-info" style="display:none"></div>

    
    <div class="container-fluid py-5" style="background-color: rgb(16, 98, 112);">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-8 text-center">
                <h1 class="text-white">Your Events</h1>
            </div>
        </div>
    </div>

    
    <div class="container mt-5">
        <div class="row">
            {% if organizer_events %}
                {% for event in organizer_events %}
                    <div class="col-md-6 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title">{{ event.title }}</h2>
                                <p class="card-text"><strong>Deadline:</strong> {{ event.last_day.strftime('%d/%m/%Y') }}</p>
                                <p class="card-text"><strong>Webpage URL:</strong> <a href="{{ event.web_page_url }}">{{ event.web_page_url }}</a></p>
                                <a href="#" class="btn btn-primary scale-transition">Track Event</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-md-12">
                    <h5 class="text-center text-black">You have not created any events yet.</h5>
                </div>
            {% endif %}
        </div>
    </div>

    
    <div class="container-fluid py-5" style="background-color: rgb(16, 98, 112);">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6 text-center">
                <h2 class="text-white">Create a New Event</h2>
                <p class="lead text-white">Start organizing by creating a new event:</p>
                <a class="btn btn-lg btn-outline-light scale-transition" href="{{ url_for('submit_event_request') }}">Create New</a>
            </div>
        </div>
    </div>

    
    <div class="product-device box-shadow d-none d-md-block"></div>
    <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>

    <script>
        var role = "{{ role }}";
        console.log(role);
    </script>
    
    <style>
        /* CSS animations */
        .scale-transition {
            transition: transform 0.3s ease-in-out;
        }

        .scale-transition:hover {
            transform: scale(1.1);
        }
    </style>
</body>
{% endblock %}
