{% extends 'base.html' %}
{% block title %}
    Register Page
{% endblock %}s

{%block content %}
<style>
    .form-register {
    margin: 0 auto;
    max-width: 600px; /* Adjust the maximum width as needed */
    text-align: left; /* Adjust text alignment within the form */
    }
</style>
<body class="text-center">
    <div class="container">
        <form action="?" method="POST" class="form-register" style="color:white">
            {{ form.hidden_tag() }}
            <br><br>
            <img class="mb-4 rounded-circle" src="../static/Images/InReview logo with bg.png" width="200" height="200" alt="">
            <h1>
                Please Create Your Account  
            </h1>
            <br>
            {{ form.username.label() }}
            {% if form.username.errors %}
                {{ form.username(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                        {% endfor  %}
                    </div>
            {% else %}
                {{ form.username(class="form-control", placeholder="") }}
            {% endif %}

            {{ form.full_name.label() }}
            {{ form.full_name(class="form-control", placeholder="") }}

            {{ form.email_address.label() }}
            {% if form.email_address.errors %}
                {{ form.email_address(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email_address.errors %}
                            <span>{{ error }}</span>
                        {% endfor  %}
                    </div>
            {% else %}
                {{ form.email_address(class="form-control", placeholder="") }}
            {% endif %}

            {{ form.password1.label() }}
            {{ form.password1(class="form-control", placeholder="") }}

            {{ form.password2.label() }}
            {% if form.password2.errors %}
                {{ form.password2(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.password2.errors %}
                            <span>{{ error }}</span>
                        {% endfor  %}
                    </div>
            {% else %}
                {{ form.password2(class="form-control", placeholder="") }}
            {% endif %}

            <br>

            <div class="g-recaptcha" data-sitekey="{{ form.recaptcha.render_kw['data-sitekey'] }}"></div>


            <br>

            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

            <br><br>
            <div class="container text-center">
                <a href="{{ url_for('google_login') }}" class="btn btn-primary">Sign Up with Google</a>
                <br><br>

                <div class="checkbox nb-3">
                    <h6>Already have an account?</h6>
                    <a class="btn btn-sm btn-secondary" href="{{ url_for('login_page') }}" >Login</a>
                </div>
            </div>

            <br><br>

        </form>
    </div>
</body>
{%endblock %}