{% extends 'base.html' %}
{% block title %}
    New Reviewer Registration
{% endblock %}
{% block content %}
<body>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="container w-100 mt-4 p-5 bg-light rounded shadow">
                    <h2 class="text-primary">Reviewer Registration</h2>
                    <p class="text-secondary">Please fill out the form and register yourself.</p>
                    <form method="POST" class="m-6" style="color:black" action="{{ url_for('reviewer_register')}}">
                        {{ form.csrf_token }}
                        {{ form.hidden_tag() }}

                        {{ form.full_name.label() }}
                        {{ form.full_name(class="form-control mt-2", placeholder="Enter your name here") }}

                        <br>

                        {{ form.gender.label() }}
                        {{ form.gender(class="form-control mt-2", placeholder="Select gender") }}

                        <br>

                        {{ form.year_of_birth.label() }}
                        {{ form.year_of_birth(class="form-control mt-2", placeholder="Enter your year of birth") }}

                        <br>

                        {{ form.email_address.label() }}
                        {{ form.email_address(class="form-control mt-2", placeholder="Enter your email address") }}

                        <br>

                        {{ form.homepage_url.label() }}
                        {{ form.homepage_url(class="form-control mt-2", placeholder="Enter your homepage URL") }}

                        {{ form.google_scholar_url.label() }}
                        {{ form.google_scholar_url(class="form-control mt-2", placeholder="Enter your Google Scholar URL") }}

                        {{ form.orcid_url.label() }}
                        {{ form.orcid_url(class="form-control mt-2", placeholder="Enter your ORCID URL") }}

                        <br>

                        {{ form.education_position.label() }}
                        {{ form.education_position(class="form-control mt-2", placeholder="Select education position") }}

                        {{ form.education_start_year.label() }}
                        {{ form.education_start_year(class="form-control mt-2", placeholder="Start year") }}

                        {{ form.education_end_year.label() }}
                        {{ form.education_end_year(class="form-control mt-2", placeholder="End year") }}

                        {{ form.inst_domain.label() }}
                        {{ form.inst_domain(class="form-control mt-2", placeholder="Select institution domain") }}

                        {{ form.inst_name.label() }}
                        {{ form.inst_name(class="form-control mt-2", placeholder="Enter institution name") }}

                        {{ form.inst_country.label() }}
                        {{ form.inst_country(class="form-control mt-2", placeholder="Enter institution country") }}

                        {{ form.inst_state.label() }}
                        {{ form.inst_state(class="form-control mt-2", placeholder="Enter institution state") }}

                        {{ form.inst_city.label() }}
                        {{ form.inst_city(class="form-control mt-2", placeholder="Enter institution city") }}

                        {{ form.inst_department.label() }}
                        {{ form.inst_department(class="form-control mt-2", placeholder="Enter institution department") }}

                        <br>    

                        {{ form.current_position.label() }}
                        {{ form.current_position(class="form-control mt-2", placeholder="Enter current work position") }}

                        {{ form.current_company.label() }}
                        {{ form.current_company(class="form-control mt-2", placeholder="Enter current company name") }}

                        {{ form.current_start_year.label() }}
                        {{ form.current_start_year(class="form-control mt-2", placeholder="Start year") }}

                        {{ form.current_end_year.label() }}
                        {{ form.current_end_year(class="form-control mt-2", placeholder="End year") }}

                        {{ form.current_city.label() }}
                        {{ form.current_city(class="form-control mt-2", placeholder="Enter company city") }}

                        {{ form.current_country.label() }}
                        {{ form.current_country(class="form-control mt-2", placeholder="Enter company country") }}

                        <br>

                        {{ form.area_of_interest.label() }}
                        {{ form.area_of_interest(class="form-control mt-2", placeholder="Enter area of interests") }}

                        <br><br>

                        {{ form.submit(class="btn btn-lg btn-primary btn-block mt-4") }}
                    
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
{% endblock %}
